.tic-tac-toe {
  height: 45vh;
  width: 80%;
  border-collapse: collapse;
  border-spacing: none;
}
.tic-tac-toe__td--top,
.tic-tac-toe__td--center,
.tic-tac-toe__td--bottom {
  font-size: 2.5rem;
  text-align: center;
  height: 30%;
  width: 30%;
}
.tic-tac-toe__top .tic-tac-toe__td--top:nth-child(1) {
  border-right: thin solid var(--primary-color-text);
  border-bottom: thin solid var(--primary-color-text);
}
.tic-tac-toe__top .tic-tac-toe__td--top:nth-child(2) {
  border-right: thin solid var(--primary-color-text);
  border-bottom: thin solid var(--primary-color-text);
}
.tic-tac-toe__top .tic-tac-toe__td--top:nth-child(3) {
  border-bottom: thin solid var(--primary-color-text);
}
.tic-tac-toe__center .tic-tac-toe__td--center:nth-child(1) {
  border-right: thin solid var(--primary-color-text);
  border-bottom: thin solid var(--primary-color-text);
}
.tic-tac-toe__center .tic-tac-toe__td--center:nth-child(2) {
  border-right: thin solid var(--primary-color-text);
  border-bottom: thin solid var(--primary-color-text);
}
.tic-tac-toe__center .tic-tac-toe__td--center:nth-child(3) {
  border-bottom: thin solid var(--primary-color-text);
}
.tic-tac-toe__bottom .tic-tac-toe__td--bottom:nth-child(1) {
  border-right: thin solid var(--primary-color-text);
}
.tic-tac-toe__bottom .tic-tac-toe__td--bottom:nth-child(2) {
  border-right: thin solid var(--primary-color-text);
}
.tic-tac-toe__bottom .tic-tac-toe__td--bottom:nth-child(3) {
  border-left: thin solid var(--primary-color-text);
}
