.panel {
  width: 80%;
  margin: auto;
  padding: 0.25rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--primary-color-cells);
  color: var(--primary-color-text);
  border: thin solid var(--primary-color-text);
}
.panel__message {
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
}
