.winner {
  width: 80%;
  margin: auto;
  padding: 0.25rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--primary-color-cells);
  color: var(--primary-color-text);
  border: thin solid var(--primary-color-text);
}
.winner__message {
  font-size: 1.7rem;
  font-weight: 900;
}
.winner__player {
  font-size: 3rem;
}
