.restart {
  padding: 0.7rem 2.5rem;
  border: none;
  font-weight: 600;
  background-color: var(--primary-color-background);
  color: var(--primary-color-text);
  text-transform: uppercase;
  cursor: pointer;
  border: thin solid var(--primary-color-text);
  letter-spacing: 0.25rem;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}

@media screen and (min-width: 37em) {
  .restart {
    font-size: 1rem;
  }
}
@media screen and (min-width: 75em) {
  .restart:hover {
    transform: translateY(-0.25rem);
    -webkit-transform: translateY(-0.25rem);
    -moz-transform: translateY(-0.25rem);
    -ms-transform: translateY(-0.25rem);
    -o-transform: translateY(-0.25rem);
  }
}
