html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --primary-color-background: #22223b;
  --primary-color-cells: #4a4e69;
  --primary-color-text: #f2e9e4;
}
body {
  height: 100%;
  background-color: var(--primary-color-background);
}
#root {
  max-width: 1500px;
  height: 100%;
  background-color: transparent;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}